@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: unset;
}

/* ------------- BAGIAN NAVBAR ------------- */
.navbar-c {
    background-color: #0c356a;
    font-family: "Poppins", sans-serif;
    color: #fff;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    height: 100px;
    width: 100%;
    z-index: 5;
}

.navbar-c-left {
    display: flex;
    width: 60%;
    align-items: center;
}

.navbar-c-left img {
    height: 80px;
    width: auto;
    margin: auto 0;
}

.navbar-c-left-desc {
    padding-left: 20px;
}

.navbar-c-left-desc h1 {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
    margin: 0;
}

.navbar-c-left-desc p {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
}

.navbar-c-right {
    margin: auto 0;
}

.navbar-c-right-content {
    display: flex;
}

.navbar-c-right-content img {
    height: 20px;
    width: auto;
    margin: auto 0;
}

.navbar-c-right-content p {
    margin: 3px 10px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* ------------- END BAGIAN NAVBAR ------------- */

.content {
    margin-left: 20%;
    margin-top: 99px;
    width: 80%;
    transition: margin-left 0.3s ease, width 0.3s ease;
}

.expand {
    margin-left: 5%;
    width: 95%;
}

.go-top {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 45px;
    height: 45px;
    margin: 50px;
    border-radius: 50px;
    background-color: #ffc436;
    display: flex;
    justify-content: center;
    align-items: center;
}

.go-top button {
    border: none;
    background: none;
}

.go-top button a {
    width: 100%;
    height: auto;
    text-decoration: none;
    color: unset;
}

.go-top svg {
    color: #082851;
}

.banner {
    height: 600px;
    position: relative;
}

.banner img {
    object-fit: cover;
    width: 100%;
    height: 555px;
    filter: brightness(0.8);
}

.line {
    width: 100%;
    height: 45px;
    background: #0174be;
}

.banner-desc {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}

.banner-desc h1 {
    margin: 0;
    color: #ffc436;
    font-size: 32px;
    font-weight: 600;
}

.banner-desc p {
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

/* ------------- BAGIAN RESPONSIVE ------------- */
@media screen and (max-width: 850px) {
    /* ------------- BAGIAN RESPONSIVE NAVBAR ------------- */
    .navbar-c {
        padding: 0 40px;
        margin-top: -0.5px;
    }

    .navbar-c-left-desc h1 {
        font-size: 16px;
    }

    .navbar-c-left-desc p {
        font-size: 10px;
    }

    .navbar-c-right-content img {
        height: 15px;
    }

    .navbar-c-right-content p {
        font-size: 10px;
    }

    /* ------------- END BAGIAN RESPONSIVE NAVBAR ------------- */
    .content {
        margin-left: 7%;
        width: 93%;
    }

    .expand {
        margin-left: 7%;
        width: 93%;
    }

    .go-top {
        margin-right: 40px;
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 500px) {
    /* ------------- BAGIAN RESPONSIVE NAVBAR ------------- */
    .navbar-c {
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar-c-left {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-c-left-desc p,
    .navbar-c-right {
        display: none;
    }

    .navbar-c-left img {
        height: 50px;
    }

    .navbar-c-left-desc {
        padding-left: 10px;
    }

    .navbar-c-left-desc h1 {
        font-size: 14px;
    }

    .content {
        margin-top: 99px;
        width: 100%;
        margin-left: 0;
    }

    .expand {
        margin-top: 150px;
    }

    .go-top {
        margin: 30px;
    }
}

/* ------------- END BAGIAN RESPONSIVE ------------- */
