.detail-ekskul-content {
    display: flex;
    flex-direction: column;
    margin: 0 15%;
    min-height: 80vh;
}

.detail-ekskul-content-head {
    margin: 80px auto;
}

.detail-ekskul-content-head h1 {
    color: #ffc436;
    font-size: 36px;
    font-weight: 600;
}

.detail-ekskul-content-body h3 {
    color: #082851;
    font-size: 24px;
    font-weight: 600;
}

.detail-ekskul-info {
    display: flex;
    gap: 15px;
}

.detail-ekskul-info img {
    height: 20px;
    width: auto;
}

.detail-ekskul-info-admin,
.detail-ekskul-info-date {
    display: flex;
}

.detail-ekskul-info-admin p,
.detail-ekskul-info-date p {
    color: #b7b7b7;
    font-size: 11px;
    font-weight: 400;
    margin: auto 0;
    margin-left: 5px;
}

.detail-ekskul-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin-bottom: 50px;
}

.detail-ekskul-text img {
    width: 100%;
    height: 400px;
    border-radius: 5px;
    object-fit: cover;
    margin-top: 15px;
    margin-bottom: 30px;
}

@media screen and (max-width: 500px) {
    .detail-ekskul-content {
        margin: 0 20px;
    }

    .detail-ekskul-content-head {
        margin: 30px auto;
        text-align: center;
    }

    .detail-ekskul-content-head h1 {
        font-size: 24px;
    }

    .detail-ekskul-content-body h3 {
        font-size: 16px;
    }

    .detail-ekskul-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        margin-bottom: 50px;
    }

    .detail-ekskul-text p {
        font-size: 14px;
        font-weight: 400;
    }

    .detail-ekskul-text img {
        height: 300px;
    }
}
