.ekskul-container {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.head-ekskul {
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    margin-bottom: 15px;
}

.button-add-ekskul button a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.button-add-ekskul button {
    width: 100px;
    height: 33px;
    flex-shrink: 0;
    border-radius: 8px;
    background-color: #2984ff;
    cursor: pointer;
    border: none;
    margin-top: 50px;
    margin-left: 50px;
}

.ekskul-body {
    width: 100%;
    height: auto;
    border-radius: 16px;
    background-color: #fff;
}

.ekskul-table{
    margin: 0 30px;
    overflow-x: auto;
}

.ekskul-judul{
    text-align: center;
}

table {
    width: 100%;
    margin: 30px;
    font-family: "Poppins", sans-serif;
    border-collapse: collapse;
    border-radius: 6px;
}

th {
    padding: 12px;
    text-align: left;
    background-color: #2984ff;
    color: white;
}

td,
th {
    border: 1px solid #b7b7b7;
}

td {
    font-size: 16px;
    color: #9d9d9d;
    padding: 10px;
}

.ekskul-table-img img {
    width: 213px;
    height: 141px;
    padding: 10px;
    border-radius: 16px;
    object-fit: cover;
}

.ekskul-aksi-img img {
    width: 21px;
    height: 22px;
}

.ekskul-deskripsi {
    width: 350px;
}