@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700");
* {
    padding-bottom: 0;
    margin: 0;
}

.footer-distributed {
    font-family: "Poppins", sans-serif;
    background: #0c356a;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 80px 10px 80px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    grid-template-areas:
        "left right"
        "line line"
        "bottom bottom";
}

.footer-left {
    grid-area: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.left-top {
    display: flex;
}

.left-top img {
    height: 80px;
    width: auto;
}

.school-name {
    display: flex;
    color: #fff;
    margin-left: 10px;
    flex-direction: column;
    justify-content: center;
}

.school-name h3,
p {
    margin: 0;
}

.school-name h3 {
    font-size: 21px;
    font-weight: 600;
}

.school-name p {
    font-size: 13px;
    font-weight: 500;
}

.left-bottom {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.akreditasi {
    width: 100%;
}

.akreditasi span {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.akreditasi .bold-text {
    color: #ffc436;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer-info {
    display: flex;
    color: #fff;
}

.footer-info img {
    height: 28px;
}

.footer-info p {
    font-size: 16px;
    margin: 0 auto;
    padding: 5px;
    margin-left: 5px;
}

.footer-right {
    grid-area: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.footer-right .maps iframe {
    border-radius: 7px;
}

.footer-bottom {
    grid-area: bottom;
    display: flex;
    justify-content: start;
}

.footer-bottom p {
    color: #c9c9c9;
}

.copyright {
    font-weight: lighter;
    font-size: 14px;
}

.admin {
    margin-left: 35%;
    display: flex;
    justify-content: center;
}

.admin a {
    text-decoration: none;
    color: #c9c9c9;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 5px;
}

.admin img {
    height: 18px;
    width: auto;
}

hr {
    grid-area: line;
    height: 2px;
    background-color: #fff;
}

@media screen and (max-width: 850px) {
    .footer-distributed {
        padding: 15px 30px 10px 30px;
    }

    .akreditasi span {
        font-size: 14px;
    }

    .akreditasi .bold-text {
        font-size: 14px;
    }

    .footer-right .maps iframe {
        width: 95%;
        height: auto;
    }

    .footer-info img {
        height: 24px;
    }

    .footer-info p {
        font-size: 12px;
        padding: 5px;
    }

    .copyright {
        font-size: 12px;
    }

    .admin a {
        font-size: 12px;
    }
}

@media screen and (max-width: 500px) {
    .footer-distributed {
        padding: 15px 30px 10px 30px;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
            "left left"
            "right right"
            "line line"
            "bottom bottom";
    }

    .left-top img {
        height: 50px;
    }

    .school-name h3 {
        font-size: 14px;
    }

    .school-name p {
        font-size: 12px;
    }

    .left-bottom {
        flex-direction: column;
    }

    .akreditasi p {
        margin-bottom: 15px;
    }

    .footer-bottom {
        grid-area: bottom;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .admin {
        margin-left: 0;
    }
}
