@import url("https://fonts.googleapis.com/css2?family=Barrio&family=Cabin&family=Manrope:wght@200&family=Montserrat&family=Nova+Flat&family=Permanent+Marker&family=Poppins:wght@300;400;500;600;700;800&family=Roboto+Mono:wght@500&display=swap");

.homeadmin-container {
    display: flex;
}

.homeadmin-left {
    width: 60%;
    margin: 3%;
}

.homeadmin-right {
    width: 40%;
}

.homeadmin-left-top h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.homeadmin-left-top img {
    width: 100%;
    height: 25%;
    border-radius: 10px;
    object-fit: cover;
}

.homeadmin-left-bottom {
    background-color: #ffffff;
    padding: 10px 15px;
    border-radius: 10px;
    margin-top: 30px;
}

.homeadmin-left-bottom h1 {
    font-size: 24px;
    font-weight: 600;
    margin: 15px 0;
}

.homeadmin-stafflist {
    overflow-x: auto;
}

.homeadmin-stafflist table {
    margin: 0 !important;
}

.homeadmin-stafflist img {
    width: 40px;
    object-fit: cover;
    border-radius: 100%;
    aspect-ratio: 4/4;
}

.homeadmin-stafflist p {
    font-size: 14px;
}

.homeadmin-stafflist tr td:first-child {
    display: flex;
    justify-content: center;
}

.homeadmin-right {
    padding: 30px;
}

.homeadmin-calendar {
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

.calendar-top {
    display: flex;
    justify-content: space-between;
}

.calendar-top p {
    font-size: 16px;
    font-weight: 600;
}

.weeks {
    display: flex;
    justify-content: space-between;
    color: #3c3c434d;
    font-size: 13px;
    text-transform: uppercase;
}

.days {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11%, 1fr));
    gap: 10px;
}

.days li {
    text-align: center;
    color: #2984ff;
    aspect-ratio: 4/4;
}


.days li.active {
    background-color: #2984ff;
    color: #fff;
    padding: 3px;
    border-radius: 50%;
}

.homeadmin-berita h1 {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.homeadmin-berita-list-item {
    width: 100%;
    background-color: #fff;
    height: 100px;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
}

.homeadmin-berita-list-item div {
    margin-left: 10px;
}

.homeadmin-berita-list-item img {
    width: 35%;
    height: 100%;
    border-radius: 10px;
}

.homeadmin-berita-list-item h3 {
    font-size: 12px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.homeadmin-berita-list-item p {
    font-size: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.homeadmin-berita-list-tanggal {
    color: #b7b7b7;
}
