.pengumuman-container {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.head-pengumuman {
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    margin-bottom: 15px;
}

.button-add-pengumuman button a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.button-add-pengumuman button {
    width: 100px;
    height: 33px;
    flex-shrink: 0;
    border-radius: 8px;
    background-color: #2984ff;
    cursor: pointer;
    border: none;
    margin-top: 50px;
    margin-left: 50px;
}

.pengumuman-body {
    width: 100%;
    height: auto;
    border-radius: 16px;
    background-color: #fff;
}

.pengumuman-table{
    margin: 0 30px;
    overflow-x: auto;
}

table {
    width: 100%;
    margin: 30px;
    font-family: "Poppins", sans-serif;
    border-collapse: collapse;
    border-radius: 6px;
}

th {
    padding: 12px;
    text-align: left;
    background-color: #2984ff;
    color: white;
}

td,
th {
    border: 1px solid #b7b7b7;
}

td {
    font-size: 16px;
    color: #9d9d9d;
    padding: 10px;
}

.kalender-name{
    color: #2984ff;
}

.pengumuman-table-img img {
    width: 213px;
    height: 141px;
    padding: 10px;
    border-radius: 16px;
    object-fit: cover;
}

.pengumuman-aksi-img img {
    width: 21px;
    height: 22px;
}

.pengumuman-deskripsi {
    width: 350px;
}

/* EDIT  */

.container-edit {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.head-edit{
    margin-bottom: -60px;
}

.inner-container {
    width: 100%;
    height: 60%;
    position: relative;
    background: #2984ff;
    border-radius: 16px;
    margin: 100px auto auto;
    color: white;
    padding: 40px;
}

.top-form {
    display: flex;
    margin-top: 20px;
}

.title-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title-form input {
    width: 300px;
    height: 50px;
    background: white;
    border-radius: 9px;
    border: 1px black solid;
    margin-top: 10px;
}

.title-form label {
    width: 53px;
    height: 15px;
    background: #2984ff;
    border-radius: 3px;
    margin-top: 10px;
}

.title-form text {
    color: white;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
    margin-top: 10px;
}

.date-form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 40px;
}

.date-form input {
    width: 300px;
    height: 50px;
    background: white;
    border-radius: 9px;
    border: 1px black solid;
    margin-top: 3px;
}

::placeholder {
    color: #bebebe;
    padding-left: 20px;
}


.description-form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.description-form textarea{
    width: 800px;
    height: 309px;
    margin-bottom: 20px;
    border-radius: 9px;
    border: 1px solid #000;
}


.file-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.file-form input{
    border: 1px solid #000;
    width: 800px;
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #555;
}

.file-form input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #d4d4d4;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  .file-form input[type=file]::file-selector-button:hover {
    background: #2984ff ;
  }

.simpan-button button {
    margin-top: 40px;
    background: white;
    border-radius: 9px;
    border: none;
}

.my-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 9px;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
}

.my-button:hover {
    background-color: #e8e7e7;
}