.pengajar-admin-container {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.pengajar-admin-head {
    font-weight: lighter;
    margin-bottom: 15px;
}

.pengajar-admin-body {
    width: 100%;
    padding: 30px;
    height: auto;
    border-radius: 16px;
    background-color: #fff;
}

.pengajar-admin-add {
    padding: 8px 30px;
    border-radius: 8px;
    background-color: #2984ff;
    color: #fff;
}

.pengajar-admin-table-container {
    overflow-y: auto;
}

.pengajar-admin-table-container table {
    margin: 0;
    margin-top: 30px;
}

.pengajar-admin-table-container td:first-child {
    display: flex;
    justify-content: center;
}

.pengajar-admin-photo {
    width: 100px;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.pengajar-admin-edit img {
    width: 20px;
}

.pengajar-admin-delete {
    background: none;
    cursor: pointer;
}

.pengajar-admin-delete img {
    width: 20px;
    margin-top: 5px;
}

/* ------------------ BAGIAN EDIT & CREATE -------------------*/

.pengajar-admin-form-container {
    width: 700px;
    padding: 30px;
    margin: 30px;
    height: auto;
    border-radius: 16px;
    background-color: #2984ff;
}

.pengajar-admin-form-container form {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.input-nama,
.input-jabatan,
.input-photo {
    display: flex;
    flex-direction: column;
}

.input-nama label,
.input-jabatan label,
.input-photo label {
    background-color: #2984ff;
    width: max-content;
    color: #fff;
    margin-left: 15px;
    margin-bottom: -5px;
    padding: 3px;
    font-size: 11px;
    border-radius: 3px;
    z-index: 99;
}

.input-nama input,
.input-jabatan input {
    width: 250px;
    height: 40px;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
}

.input-photo {
    width: 100%;
}

.input-photo input {
    width: 100%;
    height: 40px;
    background-color: #fff;
    border: 1px solid;
    border-radius: 10px;
}

.input-photo input[type="file"]::file-selector-button {
    width: 20%;
    height: 100%;
    border: none;
    font-size: 12px;
    background: none;
    cursor: pointer;
    border-right: 1px solid;
    transition: background 0.2s ease-in-out;
}

.input-photo input[type="file"]::file-selector-button:hover {
    background: #2984ff;
    color: #fff;
}

.pengajar-admin-submit {
    width: 100px;
    height: 35px;
    border-radius: 10px;
    font-weight: 600;
    background-color: #fff;
    font-size: 12px;
}
