.sidebar {
    background-color: #082851;
    font-family: "Poppins", sans-serif;
    color: #fff;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
    transform: translateX(-75%);
    transition: transform 0.3s ease;
    overflow: hidden;
    overflow-y: auto;
    padding-top: 115px;
    padding-bottom: 15px;
}

.sidebar::-webkit-scrollbar {
    width: 10px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 10px;
}

.show-sidebar {
    transform: translateX(0);
}

.sidebar a {
    text-decoration: none;
    color: unset;
}

.sidebar-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 60px;
}

.sidebar-title button {
    background: none !important;
    border: none;
    width: 1.5em;
    height: auto;
}

.sidebar-title button svg {
    width: 1.5em;
    color: #fff;
}

.sidebar-title h1 {
    margin: 0;
    margin-left: 10px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.65px;
}

/* --- CONTENT ---*/
.sidebar-content {
    width: 100%;
    padding: 0 20px;
}

.content-list {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px 0;
}

.content-list img,
.content-list svg {
    width: 1.5em;
    height: auto;
}

.content-list p {
    width: 65%;
    margin: 0 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.dropdown-list {
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown-list li {
    list-style: none;
    padding: 5px 0;
    width: 100%;
}

.dropdown-button {
    background: none !important;
    display: flex;
    justify-content: space-between;
    border: none;
    width: 100%;
}

.dropdown-desc{
    display: flex;
    align-items: center;
}

.dropdown-desc p{
    margin: 0 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: #fff;
    line-height: normal;
}

.dropdown-button svg {
    width: 0.5em;
    height: auto;
}

.dropdown-button .arrow-down {
    width: 1.6em;
}

/* --- CLOSE SIDEBAR --- */
.close-sidebar {
    background-color: #082851;
    font-family: "Poppins", sans-serif;
    color: #fff;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 100px;
    left: 0;
    width: 5%;
    height: 100vh;
}

.close-sidebar a {
    text-decoration: none;
    color: unset;
}

.close-sidebar-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    width: 100%;
    height: 80px;
}

.close-sidebar-title button {
    background: none !important;
    border: none;
    width: 1.5em;
    height: auto;
}

.close-sidebar-title button svg {
    width: 1.5em;
    color: #fff;
}

/* --- CONTENT ---*/
.close-sidebar-content {
    width: 100%;
    padding: 0 20px;
}

.close-content-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.close-content-list img,
.close-content-list svg {
    width: 1.5em;
    height: auto;
}

@media screen and (max-width: 850px) {
    .sidebar {
        width: 30%;
        transform: translateX(-80%);
        transition: transform 0.3s ease;
        overflow: hidden;
        z-index: 3;
        overflow-y: auto;
    }

    .show-sidebar {
        transform: translateX(0);
    }

    /* CLOSE SIDEBAR */
    .close-sidebar {
        width: 7%;
        height: 100vh;
        z-index: 4;
        margin-top: -1px;
    }
}

@media screen and (max-width: 500px) {
    .sidebar {
        width: 70%;
        transform: translateX(-100%);
        z-index: 4;
    }

    .show-sidebar {
        transform: translateX(0);
    }

    .sidebar-title {
        height: 60px;
    }

    .close-sidebar {
        width: 100vw;
        height: 51px;
        z-index: 3;
        margin-top: -1px;
    }

    .close-sidebar-title {
        justify-content: start;
    }

    .close-content-list {
        display: none;
    }

    .content-list {
        padding: 10px 0;
    }

    .dropdown-list li {
        padding: 1px 0;
    }

    .content-list p {
        font-size: 16px;
    }

    .content-list img,
    .content-list svg {
        width: 1.2em;
        height: auto;
    }

    .dropdown-button svg {
        width: 0.4em;
        height: auto;
    }

    .dropdown-button .arrow-down {
        width: 1.6em;
    }

    .dropdown-list a {
        font-size: 16px;
    }
}
